@namespace Moka.Beer
@inherits MokaComponentBase

<button type="@ButtonType.GetEnumCssClass()" @onclick="InvokeParentMethod" style="@Style" class="@Class @Margin.GetEnumCssClass() @ChipCutton() @Size.GetEnumCssClass() @Color.GetEnumCssClass() @Theme.GetEnumCssClass() @Form.GetEnumCssClass()">
    @ChildContent
</button>

@code {
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }
    [Parameter] public Size Size { get; set; } = Size.Default;
    [Parameter] public Form Form { get; set; } = Form.Default;
    [Parameter] public Direction Direction { get; set; } = Direction.Default;
    [Parameter] public bool ChipButton { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public ButtonType ButtonType { get; set; } = ButtonType.Default;
    bool HasDelegate => OnClick.HasDelegate;
    private async void InvokeParentMethod()
    {
        if (!OnClick.HasDelegate)
            return;
        await OnClick.InvokeAsync();
    }

    string ChipCutton()
    {
        return ChipButton ? "chip" : "";
    }

}