@namespace Moka.Beer
@inherits MokaComponentBase

<article style="@Style" class="@Class 
@Position.GetEnumCssClass() 
@VerticalAlignment.GetEnumCssClass()
 @HorizontalAlignment.GetEnumCssClass() @Size.GetEnumCssClass()">


    @* <img class="responsive small top-round" src="/beer-and-woman.jpg"><!----><!----> *@
    @* <div class="padding"> *@
    @*   <h5>@Header</h5> *@
    @*   <p>@Body</p> *@
    @*   <nav> *@
    @*     <button class="primary">Button</button> *@
    @*   </nav> *@
    @* </div> *@
    @ChildContent
</article>


@code {

    [Parameter] public RenderFragment? ChildContent { get; set; }

    [Parameter] public RenderFragment? Header { get; set; }
    [Parameter] public RenderFragment? Footer { get; set; }

    [Parameter] public RenderFragment? Body { get; set; }
    [Parameter] public Size Size { get; set; } = Size.Default;
    [Parameter] public Color Color { get; set; } = Color.Default;
    [Parameter] public Theme Theme { get; set; } = Theme.Default;
    [Parameter] public Form Form { get; set; } = Form.Default;
    [Parameter] public Direction Direction { get; set; } = Direction.Default;
}